
.contact {
  background: white;
  box-shadow: 0 -2px 3px #777;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 0;
}

.contact-details ul{
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.contact-details h1 {
  color: #555;
  font-weight: bold;
  text-shadow: 1px 1px 6px #444;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contact-details li {
    padding: 5px;
}
/*
.contact-email {
  list-style-image: url(../img/email.png);
}
*/
.contact-email a{
  cursor: alias;
  text-decoration: none;
  color: #1abc9c;
  font-weight: bold;
}

.contact-image {
  border-right: 1px solid #d2d2d2;
  box-sizing: content-box;
  text-align: center;
}

.contact-image img{
  box-shadow: -2px 2px 3px #666;
  border-radius: 90px;
  height: 130px;
  width: 130px;
}

.contact-wrap {
  box-shadow: 0 0 9px #666;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.contact-wrap h2 {
  color: #555;
  background: #f2f2f2;
  padding: 8px 0 10px 20px;
  margin-bottom: 0;
  text-shadow: 2px 1px 1px black;
  letter-spacing: 3px;
}

.copyright p {
  margin-left: -60px;
}

/* Fiter tabs
..............................................................................*/

.filter-tabs {
  margin-bottom: 20px;
}

/* to remove the bullet style*/
.filter-tabs ul {
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  float: left;
  list-style: none;
  padding: 9px 0;
}

/* to make the list items fall in-line*/
.filter-tabs li {
  border-right: 1px solid #f2f2f2;
  color: #666;
  display: inline;
  font-size: 15px;
  margin-left: 0;
  padding: 12px 12px;
}

/* changes the background color of the list item when user hovers te mouse over it*/
.filter-tabs li:hover {
  background: #1abc9c;
  border-radius: 2px;
  color: #f2f2f2;
  cursor: pointer;
}

/* removes the border styling from the last list item (last-child)*/
.filter-tabs li:last-child {
  border-right: 0;
}

/* styling for the footer element*/
footer {
  background: #222;
  box-shadow: 0 -1px 3px #222;
  color: #666;
  font-family: sans-serif;
  font-weight: bold;
  height: 60px;
  padding: 40px 0;
  width: 100%;
}

/* "go to top" box
..............................................................................*/

.gototop {
  background: #888;
  bottom: 10px;
  border-radius: 3px;
  color: white;
  font-size: 37px;
  font-family: monospace;
  font-weight: bold;
  height: 40px;
  margin: 0;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 40px;
}

/* changes the background color of the list item when user hovers te mouse over it*/
.gototop:hover {
  background: #1abc9c;
  cursor: pointer;
}

/* styling for the header element
..............................................................................*/
header {
  background: white;
  border-bottom: 1px solid #1abc9c;
  box-shadow: 0 2px 3px #1abc9c;
  height: 60px;
  min-height: 40px;
  overflow: auto;
  position: fixed;  /* fixes the position of the header and brings it on top of floating elements*/
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/* styling for the header h2 element
..............................................................................*/
header h2 {
  border-right: 1px solid #999;
  color: #1abc9c;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 0;
  margin-left: -220px;
  padding-right: 25px;
  margin-top: 12px;
  position: fixed;
  text-transform: uppercase;
  text-shadow: 2px 0 1px #333;
}


.image-on-left .image {
  background: url(../img/graph1.png);
  background-size: cover;
  margin-top: 40px;
  height: 340px;
}

.image-on-right .image {
  background: url(../img/chart2.png);
  background-size: 100% 100%;
  margin-top: 40px;
  height: 340px;
}

/*info strip styling
..............................................................................*/
.info-strip {
  background: #1abc9c;
  color: #f2f2f2;
  font-size: 40px;
  padding: 20px 0;
}

.info-strip p {
  font-weight: lighter;
}

.info-strip a {
  color: #f2f2f2;
  font-weight: bold;
}

.info-strip a:hover {
  color: #1abc9c;
}

.main-header {
  background: #f2f2f2;    /** set background color **/
  padding: 30px 0;    /** prefix extra space **/
}

.main-header .part1 h1{
  letter-spacing: 10px;   /** increase the gap between individual letters **/
  margin-bottom: 10px;    /** Extra space at the bottom  **/
}

.main-header .part1 p{
  color: #777;    /** set the text color **/
  font-size: 17px;    /** set the font size **/
  margin-bottom: 10px;    /** Extra space at the bottom  **/
}

.main-header .part2 {
  margin-top: 20px;   /** Extra space at the top  **/
  text-align: right;
}

.main-header .part2 ul{
  list-style: none;
  margin-bottom: 0;   /** Remove any space at the bottom  **/
  padding: 10px 0;    /** Extra space at the top and bottom  **/
}

.main-header .part2 li{
  color: #444;
  margin: 0;    /** Remove any space around the element  **/
  padding: 0;   /** remove any space around the element inside it's border  **/
  display: inline;
}

.main-header .part2 li::after{
  content: '/';
  padding: 0 15px;    /** no space at the top and bottom, Extra space at the left and right  **/
}

.main-header .part2 li:last-child::after{
  content: '';
  padding: 0;   /** Remove any space around the element inside its border  **/
}

.main-header .part2 a {
  color: #777;
  text-decoration: none;
}

.main-header .part2 a:hover {
  color: #1abc9c;
}

/* styling for the master(hero) section
..............................................................................*/
.master {
  background: #f2f2f2;
  padding-bottom: 40px;   /** Extra space at the bottom  **/
}

.master .part1 {
  padding-top: 60px;    /** Extra space at the top  **/
  margin-bottom: 20px;    /** Extra space at the bottom  **/
  text-align: center;
}

.master .part1 h1{
  color: #222;
  letter-spacing: 4px;
  text-shadow: 1px 0 1px #555;
}


.master .part1 p {
  color: #666;
  font-size: 18px;
  text-shadow: 1px 0 1px #555;
}

.master .part2 {
  background: url(../img/soccer/stadium2.png);
  background-size: cover;
  padding: 200px 0;   /** Extra space at the top and bottom, no space at leftt and right  **/
  text-align: center;
}

.master .part2 .para h1 {
  font-size: 40px;
  text-shadow: 0 2px 1px white;
}

.master .part2 .para p {
  color: white;
  font-weight: bold;
  text-shadow: 1px 0 2px white;
}

.master .part3 {
  margin-top: 40px;   /** Extra space at the top  **/
}

.master .part3 li h4{
  text-shadow: 1px 0 2px #555;
}

.master .part3 li p{
  color: #777;
}

.master li{
  display: inline;
}

/*styling for meta info-strip
..............................................................................*/
.meta-info {
  color: #999;
}

.meta-info .part1 h3 {
  color: #555;
  letter-spacing: 2px;
  text-shadow: 0 1px 0 white;
  text-transform: uppercase;
}

/* styling for part 2 of meta info
..............................................................................*/
.meta-info .part2 a {
  color: #999;
  text-decoration: none;
}

.meta-info .part2 h5 {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.meta-info .part2 li {
  margin-left: 13px;    /** Extra space on the left  **/
  margin-bottom: 10px;    /** Extra space at the bottom  **/
}

.meta-info .part2 ul {
  list-style: square;   /** bullets appear as square **/
}

.meta-info .part3 .row-1 {
  letter-spacing: 3px;
  text-align: left;
}

.meta-info .part3 .row-1 p {
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
  margin: 0;
}

.meta-info .part3 .row-2 {
  margin-top: 20px;   /** Extra space at the top  **/
}

.meta-info .part3 .row-2 input{
  border: 0 solid #000;
  margin-left: -3px;
  padding: 6px;   /** Extra space around the element **/
}

.meta-info .part3 .row-2 #txtemail{
  width: 60%;
}

.meta-info .part3 .row-2 img{
  border-top: 2px solid #222;
  border-bottom: 2px solid #333;
  height: 28px;
}

.meta-info .part3 .row-2 #subscribe{
  background: #1abc9c;
  color: white;
  font-weight: bold;
  padding: 5px;   /** Extra space around the element  **/
}

.meta-info .part3 .row-2 #subscribe:hover{
  cursor: pointer;
}

/* styling for wrapper*/
#meta-info-wrap {
  background: url(../img/map1.png) no-repeat center center;
  background-size: 100% 100%;
  padding-top: 20px;
  width: 100%;
}

/* nav bar styling
..............................................................................*/
nav ul {
  margin: 0;
  margin: 19px 0;
  padding-left: 0;
  text-align: right;
}

nav li {
  display: inline;
  letter-spacing: 2px;
  margin-right: 5px;
  padding-left: 40px;
  text-transform: uppercase;
}


nav a {
  color: #666;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 2px #666;
}

nav a:hover {
  color: #1abc9c;
  text-shadow: 1px 1px 2px #1abc9c;
}

.placeholder {
  width: 100%;
  height: 30px;
}

/* box for shuffle icon
..............................................................................*/
.shuffle {
  border: 1px solid #888;
  border-radius: 4px;
  color: #888;
  float: right;
  font-size: 26px;
  font-family: monospace;
  font-weight: bold;
  height: 40px;
  margin: 0;
  text-align: center;
  text-shadow: 0 0 1px #888;
  width: 40px;
}

.shuffle:hover {
  background: #1abc9c;
  color: white;
  cursor: pointer;
  }

/* section styling
..............................................................................*/
section {
  border-bottom: 1px solid #f2f2f2;
  padding: 60px 0;
}

/* section styling*/
section .content a {
  color: #1abc9c;
  text-decoration: none;
  text-shadow: 1px 0 0 #666;
}

section .content a:hover {
  color: #333;
}

section .content h1{
  color: #666;
  text-transform: full-width;
  text-shadow: 1px 0 1px #666;
}

section article{
  color: #777;
  text-align: left;
}

section p {
  text-shadow: 1px 0 1px #666;
}

/* media links styling*/
.social-media-links {
  text-align: right;
}

.social-media-links ul {
  margin-right: -120px;
  list-style: none;
}

.social-media-links li {
  display: inline;
  opacity: .3;
}

.social-media-links li:hover {
  opacity: 1.0;
}

/* Tiles styling*/
.tile {
  float: left;
  margin-bottom: 30px;
}

.tile img {
  width: 100%;
  height: 200px;
  box-shadow: 2px -1px 3px #444;
}

.tile a {
  text-decoration: none;
}

.tile h3 {
  color: #666;
  font-family: sans-serif;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.tile h3:hover {
  color: #1abc9c;
  text-shadow: 0 0 1px #00ff99;
}

.tile ul {
  list-style: none;
  margin-bottom: 0;
}

.tile li {
  color: #888;
  display: inline-block;
  margin-left: 0;
  text-shadow: 1px 0 1px #888;
}

.tile li::after {
  content: '/';
  padding: 0 10px;
}

.tile li:last-child::after {
  content: '';
}

.tile p {
  margin: 15px 0;
}

.tiles-row {
  float: left;
}

.top-placeholder {
  width: 100%;
  height: 60px;
}

/* sets the background color to white*/
.variation-bar {
  background: #1abc9c;
}

/* styling for variation bar*/
.variation-bar .heading {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 5px;
}

.variation-bar .heading p {
  margin: 0;
  padding: 0;
}

.variation-bar .tabs {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 20px;
  text-align: center;
}

.variation-bar ul {
  list-style: none;
  margin: 10px;
  text-align: right;
}

.variation-bar li {
  border-radius: 16px;
  display: inline;
  margin-left: 10px;
  padding: 6px 10px;
}

.variation-bar li:hover {
  background: #169d82;
  cursor: pointer;
}

/* sets the background color to white*/
.wrap {
  background: white;
}
