
.contact {
  background: white;
  box-shadow: 0 -2px 3px #777;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 0;
}

.contact-details ul{
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.contact-details h1 {
  color: #555;
  font-weight: bold;
  text-shadow: 1px 1px 6px #444;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contact-details li {
    padding: 5px;
}
/*
.contact-email {
  list-style-image: url(../img/email.png);
}
*/
.contact-email a{
  cursor: alias;
  text-decoration: none;
  color: #1abc9c;
  font-weight: bold;
}

.contact-image {
  border-right: 1px solid #d2d2d2;
  box-sizing: content-box;
  text-align: center;
}

.contact-image img{
  box-shadow: 2px -2px 3px #666;
  height: 160px;
  width: 130px;
}

.contact-wrap {
  box-shadow: 0 0 9px #666;
  border-radius: 10px;
  margin-bottom: 15px;
}

.contact-wrap h2 {
  color: #555;
  background: #f2f2f2;
  padding: 8px 0 10px 20px;
  margin-bottom: 0;
  text-shadow: 2px 1px 1px black;
  letter-spacing: 3px;
}

.copyright p {
  margin-left: -60px;
}

footer {
  background: #222;
  box-shadow: 0 -1px 3px #222;
  color: #666;
  font-family: sans-serif;
  font-weight: bold;
  height: 60px;
  padding: 40px 0;
  width: 100%;
}

.gototop {
  background: #888;
  bottom: 10px;
  border-radius: 3px;
  color: white;
  font-size: 37px;
  font-family: monospace;
  font-weight: bold;
  height: 40px;
  margin: 0;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 40px;
}

.gototop:hover {
  background: #1abc9c;
  cursor: pointer;
}

header {
  background: white;
  border-bottom: 1px solid #1abc9c;
  box-shadow: 0 2px 3px #1abc9c;
  height: 60px;
  min-height: 40px;
  overflow: auto;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;
}

header h2 {
  border-right: 1px solid #999;
  color: #1abc9c;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 0;
  margin-left: -220px;
  padding-right: 25px;
  margin-top: 12px;
  position: fixed;
  text-transform: uppercase;
  text-shadow: 2px 0 1px #333;
}

.main-header {
  background: #f2f2f2;
  padding: 30px 0;
}

.main-header .part1 h1{
  letter-spacing: 10px;
  margin-bottom: 10px;
}

.main-header .part1 p{
  color: #777;
  font-size: 17px;
  margin-bottom: 10px;
}

.main-header .part2 {
  margin-top: 20px;
  text-align: right;
}

.main-header .part2 ul{
  list-style: none;
  margin-bottom: 0;
  padding: 10px 0;
}

.main-header .part2 li{
  color: #444;
  margin: 0;
  padding: 0;
  display: inline;
}

.main-header .part2 li::after{
  content: '/';
  padding: 0 15px;
}

.main-header .part2 li:last-child::after{
  content: '';
  padding: 0;
}

.main-header .part2 a {
  color: #777;
  text-decoration: none;
}

.main-header .part2 a:hover {
  color: #1abc9c;
}

.master {
  background: #f2f2f2;
}

.master .part1 {
  text-align: center;
}

.master li{
  display: inline;
}

.meta-info {
  color: #999;
}

.meta-info .part1 {
}

.meta-info .part1 h3 {
  color: #555;
  letter-spacing: 2px;
  text-shadow: 0 1px 0 white;
  text-transform: uppercase;
}

.meta-info .part2 {
}

.meta-info .part2 a {
  color: #999;
  text-decoration: none;
}

.meta-info .part2 h5 {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.meta-info .part2 li {
  margin-left: 13px;
  margin-bottom: 10px;
}

.meta-info .part2 ul {
  list-style: square;
}

.meta-info .part3 .row-1 {
  letter-spacing: 3px;
  text-align: left;
}

.meta-info .part3 .row-1 p {
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
  margin: 0;
}

.meta-info .part3 .row-2 {
  margin-top: 20px;
}

.meta-info .part3 .row-2 input{
  border: 0 solid #000;
  margin-left: -3px;
  padding: 6px;
}

.meta-info .part3 .row-2 #txtemail{
  width: 60%;
}

.meta-info .part3 .row-2 img{
  border-top: 2px solid #222;
  border-bottom: 2px solid #333;
  height: 28px;
}

.meta-info .part3 .row-2 #subscribe{
  background: #1abc9c;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.meta-info .part3 .row-2 #subscribe:hover{
  cursor: pointer;
}

.meta-info-wrap {
  background: url(../img/map1.png) no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
}

nav ul {
  margin: 0;
  margin: 19px 0;
  padding-left: 0;
  text-align: right;
}

nav li {
  display: inline;
  letter-spacing: 2px;
  margin-right: 5px;
  padding-left: 40px;
  text-transform: uppercase;
}

nav a {
  color: #666;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 2px #666;
}

nav a:hover {
  color: #1abc9c;
  text-shadow: 1px 1px 2px #1abc9c;
}

.placeholder {
  width: 100%;
  height: 30px;
}

.social-media-links {
  text-align: right;
}

.social-media-links ul {
  margin-right: -120px;
  list-style: none;
}

.social-media-links li {
  display: inline;
  opacity: .3;
}

.social-media-links li:hover {
  opacity: 1.0;
}

.tile {
  float: left;
  margin-bottom: 30px;
}

.tile img {
  width: 100%;
  height: 200px;
  box-shadow: 2px -1px 3px #444;
}

.tile a {
  text-decoration: none;
}

.tile h3 {
  color: #666;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 20px;
}

.tile h3:hover {
  color: #1abc9c;
  text-shadow: 0 0 1px #00ff99;
}

.tile ul {
  list-style: none;
  margin-bottom: 0;
}

.tile li {
  color: #888;
  display: inline-block;
  font-size: 15px;
  margin-left: 0;
}

.tile li::after {
  content: '/';
  padding: 0 10px;
}

.tile li:last-child::after {
  content: '';
}

.tile p {
  margin: 15px 0;
}
.tiles-row {
  float: left;
}
.top-placeholder {
  width: 100%;
  height: 60px;
}

.variation-bar {
  background: #1abc9c;
}

.variation-bar .heading {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 5px;
}

.variation-bar .heading p {
  margin: 0;
  padding: 0;
}

.variation-bar .tabs {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 20px;
  text-align: center;

}

.variation-bar ul {
  list-style: none;
  margin: 10px;
  text-align: right;
}

.variation-bar li {
  border-radius: 16px;
  display: inline;
  margin-left: 10px;
  padding: 6px 10px;
}

.variation-bar li:hover {
  background: #169d82;
  cursor: pointer;
}

.wrap {
  background: white;
  margin-bottom: -70px;
}
